b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
ads.txt
robots.txt

npm-debug.log
node_modules
package-lock.json

.idea/*
*.iml
projectFilesBackup
deploy/.env
deploy/node_modules

.DS_Store

dist/
