::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(45, 59, 255, 0.302);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(191, 18, 253, 0.5);
  }
  body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    line-height: 1.618;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	max-width: 100vw;
	overflow-x: hidden;
  }
  a {
      color: rgb(232, 75, 13);
  }
  .navbar{
    background-color: #ffd900;
    margin-bottom: 30px;
    font-weight: 700;
  }
  .navbar a {
    text-transform: uppercase;
    font-weight: bold;
    color: #5a5a5a;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-burger > span {
      height: 5px;
      background-color: #6a67ce;
    }
    a.navbar-item {
      font-weight: 700;
      font-size: 14px;
    }
  
    .navbar-menu {
      padding-right: 1em;
    }
  .bio-author {
    font-size: 14px;
    text-transform: uppercase;
    color: #292929;
    font-weight: bold;
  }
  .home-title a {
     color: #292929;
  }
  .home-title a:hover {
    color: #ff69b4;
  }
  .card {
    margin: 1.5em 0 1.5em 0;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  figure {
    margin: 1em auto;
  }
  .content {
    margin-top: 1em;
  }
  .read-more {
    display: flex;
    flex-grow: 0.3;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 32px;
    padding: 12px;
  }
  .join-more {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 32px;
    padding: 12px;
  }
  .post-date {
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}
.post-author {
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}
.post-tags {
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}
.post-content {
    line-height: 26px;
    margin-bottom: 25px;
    word-wrap: break-word;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #221f1f;
}
.content h1 {
    font-size:21px;
}
.content h2 {
    font-size:20px;
}
.content h3 {
    font-size:20px;
}
.content h4 {
    font-size:18px;
}
.post-nav p {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
.post-content img {
    max-width: 80%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
p {
    line-height: 26px;
    margin-bottom: 25px;
    word-wrap: break-word;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #221f1f;
  }
.level-item {
  text-transform: uppercase;
  font-weight: 700;
}
input,
.sign-button,
textarea {
    text-align: center;
    margin: 0 auto;
}
.sign-button {
    max-width: 100%;
}
input,
textarea,
.sign-button {
	width: 45rem !important;
	min-height: 3rem;
}
  /* Social icons */
  .widgetheading h1 {
      font-size: 24px;
      font-weight: 700;
      padding: 7px 0 7px 0;
      color: #222222;
      text-align: center;
  }
  .widgetheading p {
      font-size: 16px;
      color: #222222;
      font-weight: 400;
      padding: 3px 0 0;
  }
  .rssicon {
      color: #f89839;
      font-size: 24px;
      margin: 0 18px 0 5px;
  }
  .twittericon {
      color: #55acee;
      font-size: 24px;
      margin: 0 18px 0 0px;
  }
  .fbicon {
      color: #3b5998;
      font-size: 24px;
      margin: 0 18px 0 0px;
  }
  .gplusicon {
      color: #d34836;
      font-size: 24px;
      margin: 0 18px 0 0px;
  }
  .instagram {
      color: #e4405f;
      font-size: 24px;
      margin: 0 18px 0 0px;
  }
  .emailicon {
      color: #9a9a9a;
      font-size: 24px;
  }
  /* Hide on Mobile */
  @media only screen and (max-width: 800px) {
      .hide-on-mobile {
          display: none!important
      }
  }
  table {
    display: inline-block;
    overflow-x: auto;
    margin: 0.5em 0 2.5em;
    max-width: 100%;
    width: auto;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    white-space: nowrap;
    vertical-align: top;
}
table th {
    color:  #15171A;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: left;
    text-transform: uppercase;
    background-color: #e5eff5;
}
table th,
table td {
    padding: 6px 12px;
    border: #e5eff5 1px solid;
}
  .video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
  }
  .video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  .btn {
      margin-bottom:4px;white-space: normal;
  }
  .input {
      margin-bottom:4px;white-space: normal;
  }
  .button-link {
    display: inline-block;
    text-decoration: none;
    margin: 5px 0;
    padding: 10px 32px;
    color: #fff !important;
    font-size: 25px;
    line-height: 1.4;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    background: linear-gradient(#4fb7f0,#29a0e0 60%,#29a0e0 90%,#36a6e2);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.14);
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Nunito', sans-serif;
}
.button-link:hover {
background: linear-gradient(#36a6e2,#29a0e0 60%,#29a0e0 90%,#4fb7f0);
box-shadow: 0px 0px 5px 0 rgba(100, 100, 100, 0.5);
}
.button-link:active, .button-link:focus { background: #209cdf; color: #fff !important; }
@media (max-width: 500px) {
    .button-link {
        margin: 10px 0 0 0;
        width: 100%;
    }
}
  .subscribe-button {
    display: block;
    padding: 4px 10px;
    border: #fff 1px solid;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1em;
    border-radius: 10px;
    opacity: 0.8;
}
.subscribe-button:hover {
    text-decoration: none;
    opacity: 1;
}
.subscribe-form button {
    opacity: 0.9;
}
.subscribe-form {
    margin: 1.5em 0;
    padding: 6.5vw 7vw 8vw;
    border: #c5d2d9 1px solid;
    text-align: center;
    background: #e5eff5;
    border-radius: 3px;
}
.subscribe-form-title {
    margin: 0 0 3px 0;
    padding: 0;
    color: #15171A;
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 600;
}
.subscribe-form-description {
    margin-bottom: 0.2em 0 1em;
    color: #738a94;
    font-size: 2.1rem;
    line-height: 1.55em;
}
@media (max-width: 650px) {
    .subscribe-form-title {
        font-size: 2.4rem;
    }

    .subscribe-form-description {
        font-size: 1.6rem;
    }
}
footer p {
    font-size: 16px;
    font-weight: 700;
}
  .kg-image-card {
    max-height: 100%;
      max-width: 100%;
  }
  .kg-image-card.kg-width-wide {
    max-height: 100%;
      max-width: 100%;
  }
  .kg-image-card.kg-width-full {
    max-height: 100%;
      max-width: 100%;
  }
  .kg-image-card .kg-image {
    margin: 0 auto
  }
  .kg-image-card figcaption {
    font-family: 'Nunito', sans-serif;
    color: #8a9199;
    text-align: center;
    max-width: 32em;
    margin: auto;
    font-size: 0.75em;
    line-height: 1.25em;
    padding: 0.667em 0
  }
  .kg-image-card .kg-image-full+figcaption {
    margin-bottom: 1.334em
  }
  .kg-embed-card {
      max-height: 100%;
      max-width: 100%;
      margin: 0 0 2em;
      overflow-y: hidden;
  }
  .kg-embed-card>* {
    margin-left: auto;
    margin-right: auto
  }
  .kg-gallery-container {
      display: flex;
      flex-direction: column;
      max-width: 1040px;
      width: 100%;
  }
  .kg-gallery-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .kg-gallery-image img {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
  }
  .kg-gallery-row:not(:first-of-type) {
      margin: 0.75em 0 0 0;
  }
  .kg-gallery-image:not(:first-of-type) {
      margin: 0 0 0 0.75em;
  }
  .kg-code-card {
      min-width: 100%;
  }
  .kg-code-card pre {
      margin: 0;
  }
  .kg-bookmark-card {
      background: #ffffff;
      width: 100%;
  }
  .kg-card + .kg-bookmark-card {
      margin-top: 0;
  }
  .kg-bookmark-container {
      display: flex;
      font-family: 'Nunito', sans-serif;
      color: #15171A;
      text-decoration: none;
      min-height: 148px;
      box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
      border-radius: 3px;
  }
  .kg-bookmark-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 20px;
  }
  .kg-bookmark-title {
      font-size: 1.6rem;
      line-height: 1.5em;
      font-weight: 600;
      color: #738a94;
  }
  .kg-bookmark-container:hover .kg-bookmark-title {
      color: #3eb0ef;
  }
  .kg-bookmark-description {
      display: -webkit-box;
      font-size: 1.5rem;
      line-height: 1.5em;
      color: #738a94;
      font-weight: 400;
      margin-top: 12px;
      max-height: 48px;
      overflow-y: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
  }
  .kg-bookmark-thumbnail {
      position: relative;
      min-width: 33%;
      max-height: 100%;
  }
  .kg-bookmark-thumbnail img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 3px 3px 0;
  }
  .kg-bookmark-metadata {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 400;
      color: #738a94;
      margin-top: 14px;
      flex-wrap: wrap;
  }
  .kg-bookmark-icon {
      width: 22px;
      height: 22px;
      margin-right: 8px;
  }
  .kg-bookmark-author {
      line-height: 1.5em;
  }
  .kg-bookmark-author:after {
      content: "•";
      margin: 0 6px;
  }
  .kg-bookmark-publisher {
      overflow: hidden;
      line-height: 1.5em;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 240px;
  }
  @media (max-width: 500px) {
      .kg-bookmark-container {
          flex-direction: column;
      }
  
      .kg-bookmark-thumbnail {
          order: 1;
          width: 100%;
          min-height: 160px;
      }
  
      .kg-bookmark-thumbnail img {
          border-radius: 3px 3px 0 0;
      }
  
      .kg-bookmark-content {
          order: 2
      }
  }
