{{!< ../default}}

{{#if @member}}

<script>window.location = '{{@site.url}}';</script>

{{else}}

{{!-- Not logged in: Sign up --}}
<section class="hero">
<div class="hero-body">
<div class="container content app user-form">
<div class="column is-half is-offset-one-quarter">
<div class="control has-addons">
<h1 class="title has-textcenter has-text-centered">Hi...!</h1>
<hr>
<blockquote class="notification is-warning has-text-black-bis has-text-weight-bold">
<ul>
<li>Access our Members only Post</b></li>
<li>Free Downloads</li>
<li>After Successful Signup, you will Recieve the Account Activation Link on your Email</li>
</ul>
</blockquote>
<hr>
<form id="sigupData" data-members-form="signup">
<div class="field">
<label class="label has-text-centered has-text-grey-dark">Your email address*</label>
<p class="control">
<input class="input is-info column is-half input-box" data-members-email name="email" id="email" type="text" placeholder="Your email address" autocomplete="false" />
</p>
</div>
<div class="subtitle has-text-centered">
<label class="checkbox">
<input id="check" name="check" type="checkbox" style="display:inline;" onchange="RegisterAgreement()">
</label>
<p class="has-text-danger has-text-weight-bold" style="font-size:14px; margin:2px; vertical-align:middle; display:inline;">
Yes, I Accept this website Privacy and Cookie Policy to Continue My Registration
</p>
</div>
<button id="pushdata" type="submit" class="button is-link sign-button" disabled>📝 Register</button>
<br>
<p class="has-text-weight-bold has-text-centered"><small>Already Having an Account &rarr; <a href="{{@site.url}}/signin/">Log in</a></small></p>
<br>
<div class="has-text-centered" id="registernotice"></div>
</form>
</div>
</div>
</div>
</div>
</section>

{{/if}}
